.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.instructions {
  margin: 10px;
  border: 1px solid black;
  padding-right: 12px;
}

.instructions > div {
  margin-top: 10px;
  text-align: center;
}

.center-container > button {
  margin-top: 20px;
}

.score {
  font-size: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.numbers {
  font-size: 36px;
}

.answer-input {
  font-size: 36px;
  width: 80px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
